{% extends 'base.html.twig' %}

{% block title %} Modification{% endblock %}
 {% block monTitre %}
Modification Type
   {% endblock %} 


{% block body %}
{{ form_start(form) }}
<div class="row">
    <div class="col-6">
        <img src="{{asset('images/types/' ~ type.image)}}" style="width:25%">
  
    </div>
    
    <div class="col-6">
      {{ form_widget(form) }}
    </div>
      
</div>
      <input type="submit" class="btn btn-primary" value="Enregistrer">
{{ form_end(form) }}
{% endblock %}
